[submodule "addons/rollback_netcode"]
	path = addons/rollback_netcode
	url = https://github.com/SnoringCatGames/godot-rollback-netcode.git
[submodule "third_party/snoringcat-platform"]
	path = third_party/snoringcat-platform
	url = https://github.com/SnoringCatGames/snoringcat-platform.git
